<% if conversation.is_unread?(current_user) %>
  <div class="conversation-body-unread">
<% else %>
  <div class="conversation-body">
<% end %>
  <p><b>From: </b><%= conversation.originator.name %><br>
  <b>Participants: </b><% conversation.recipients.each do |recipient| %><%= recipient.name %><%= ", " unless recipient == conversation.recipients.last %><% end %><br>
  <b>Subject: </b><%= conversation.subject %><br>
  <b>Date: </b><i><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></i></p>
  
  <% if conversation.is_trashed?(current_user) %>
    <%= link_to 'Restore', untrash_conversation_path(conversation), class: 'btn btn-sm btn-info pull-right', method: :post %>
  <% else %>
    <%= link_to "View Message", conversation_path(conversation), class: 'btn btn-sm btn-custom pull-right' %>
  <% end %>

  <p><%= truncate conversation.messages.last.body, length: 50 %></p>
  <hr class="hr-small">
</div>