<div class="new-message">

  <%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
      <%= f.label :recipients %>
      <%= f.select(:recipients, User.all.collect {|p| [ p.name, p.id ] }, {}, { multiple: true , class: 'chosen-select form-control' })%>
    </div>
    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, placeholder: "Subject", class: 'form-control', required: true %>
    </div>
    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :body, rows: 5, placeholder: "Message", class: 'form-control no-resize', required: true  %>
    </div>

    <%= f.submit "Send", class: 'btn btn-md btn-custom' %>

  <% end %>

</div>