<h2>Conversation</h2>

<br>

<h4><b>Participants: </b><% conversation.recipients.each do |recipient| %><%= recipient.name %><%= ", " unless recipient == conversation.recipients.last %><% end %><br>
<b>Subject: </b><%= conversation.subject %></h4>

<hr class="hr-big">

<h3>Messages</h3>

<% @receipts.each do |receipt| %>
  <% message = receipt.message %>

  <div class="message-body">
    <p><small><b>From: </b><%= message.sender.name %><br>
    <b>Date: </b><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small><p>
    <p><%= message.body %></p>
    <hr class="hr-small">
  </div>

<% end %>