<div class="container">

  <h2>Conversation Subject: <%= conversation.subject %></h2>

  <div class="row">
    <div class="col-md-12">
      <%= link_to "New Message", new_conversation_path, class: 'btn btn-md btn-custom' %>
    </div>
    <br>
    <br>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render 'mailbox/folders' %>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="pull-right">
            <% if conversation.is_trashed?(current_user) == false %>
              <%= link_to 'Move to trash', trash_conversation_path(conversation), class: 'btn btn-sm btn-danger', method: :post, data: {confirm: 'Are you sure?'} %>
            <% end %>
          </div>
          <div>
            <%= render partial: 'messages' %>
          </div>
        </div>

        <div class="panel panel-footer">
          <!-- Reply form -->
          <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
            <div class="form-group">
              <%= f.text_area :body, rows: 5, class: 'form-control no-resize', placeholder: 'Reply', required: true %>
            </div>
            <%= f.submit "Send", class: 'btn btn-md btn-custom' %>
          <% end %>
        </div>
      </div>
    </div>

  </div><!-- end of .row -->

</div><!-- end of .container -->

<div class="extra-space"></div>