<div class="devise-content">
  <h2>Resend unlock instructions</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "Resend unlock instructions", class: "btn btn-sm btn-custom" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>