<div class="container">

  <div class="row">
    <div class="col-sm-6">
      <br>
      <%= image_tag("mountains2.jpg", class: "img-responsive", id: "users-mountain-pic") %>
    </div>

    <div class="col-sm-6">

      <h2>Mountain Mail Users</h2>
      <br>

      <p>Here is a list of all of our registered users.<br>
      <i>Please remember to follow the site's guidelines, when sending other users a message.</i></p>
      <br>

      <div class="row">
        <% @users.each do |user| %>
          <div class="col-md-4 col-xs-6">
            <div class="user-box">
              <% if current_user == user %>
                <%= user.name %> (You)
                <br>
                <%= link_to 'Send message', new_conversation_path(to: user.id), class: 'btn btn-xs btn-custom disabled' %>
              <% else %>
                <%= user.name %>
                <br>
                <%= link_to 'Send message', new_conversation_path(to: user.id), class: 'btn btn-xs btn-custom' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <%= will_paginate %>

    </div><!-- end of .col-md-6 -->
  </div><!-- end of .row -->

</div>

<div class="extra-space"></div>