<div class="container">

  <div class="row">

    <div class="col-sm-6">
      <br>
      <%= image_tag("mountains3.jpg", class: "img-responsive", id: "profile-mountain-pic") %>
    </div>

    <div class="col-sm-6">

      <h2>My Profile</h2>
      <br>
      <p><b>Name:</b>
      <%= @user.name %></p>
      <p><b>Email:</b>
      <%= @user.email %></p>
      <p><b>Member Since:</b>
      <%= @user.created_at.strftime("%B %e, %Y") %></p>
      <br>
      <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-md btn-custom" %>
    </div>

  </div><!-- end of .row -->
</div><!-- end of .container -->

<div class="extra-space"></div>