<div class="devise-content">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "form-control", autofocus: true %>
    </div>

    <br>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "btn btn-md btn-custom" %>
    </div>
  <% end %>

  <br>

  <%= render "devise/shared/links" %>
</div>