<div class="container">

  <h2>Your Mail</h2>

  <br>
  <div class="row">
    <div class="col-md-12">
      <%= link_to "New Message", new_conversation_path, class: "btn btn-md btn-custom" %>
    </div>
    <br>
    <br>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render 'mailbox/folders' %>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <% if is_conversation %>
            <%= render 'conversations/form' %>
          <% else %>
            <% if messages.present? %>
              <%= render partial: 'conversations/conversation', collection: messages %>
            <% else %>
              <p>No messages.</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="pull-right">
    <% if @trash.present? %>
      <%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-md btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
  </div>

</div>

<div class="extra-space"></div>