<section class="jumbotron">
  <div class="container-fluid">

    <div>
      <h1>Mountain Mail</h1>
      <br>
      <h2><i>E-mail like you've never seen before</i></h2>
      <br>
      <p>
        <% if user_signed_in? %>
          <%= link_to 'New Message', new_conversation_path, class: "btn btn-custom btn-lg" %>
          <%= link_to 'Messages', mailbox_inbox_path, class: "btn btn-custom btn-lg" %>
        <% else %>
          <%= link_to("Sign Up", '/sign_up', class: "btn btn-custom btn-lg") %>
          <%= link_to("Log In", '/log_in', class: "btn btn-custom btn-lg") %>
        <% end %>
      </p>
    </div>

  </div><!-- end of container -->
</section>

<!-- Lower Section -->
<section class="lower-section">
  <div class="container">

    <% if user_signed_in? %>
      <h2>Welcome back, <%= current_user.name %>!</h2>
      <br>
      <h2>Please let us know if you have<br>
      any feedback or other comments.</h2>

    <% else %>
      <h2>We take messaging to new heights.</h2>

      <h2>The latest, most modern, up-to-date way to send mail.</h2>

      <h2>Try it out, you won't be disappointed.</h2>

      <h2>Guaranteed.</h2>
    <% end %>

    <div class="row" id="icon-row">
      <div class="col-xs-2 col-xs-offset-3">
        <div class="icon-box">
          <span class="fa fa-fighter-jet fa-3x"></span>
          <p>Fast</p>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="icon-box">
          <span class="fa fa-life-ring fa-3x"></span>
          <p>Secure</p>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="icon-box">
          <span class="fa fa-thumbs-o-up fa-3x"></span>
          <p>Easy</p>
        </div>
      </div>

    </div><!-- end of .row -->

  </div><!-- end of container -->
</section>