// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Mailbox and Messages Syling

.conversation-body-unread {
  background-color: #ededed;
  padding: 10px;
}

.conversation-body {
  padding: 10px;
}

.message-hr {
  margin-bottom: 0;
}

.new-message {
  max-width: 500px;
  margin: 0 auto;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.no-resize {
  resize: none;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #5b6478 !important;
}

.nav-pills > li > a {
  color: #222;
}

.panel .panel-footer {
  margin-bottom: 0;
}