/* General stylesheet for Mountain Mail */

/* General */

html {
  /* For Sticky footer */
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}

/* General Typography */

h1 {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
}

h3 {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.25em;
}

/* Buttons */

.btn-custom {
  background-color: #fa8072;
  border: 1px solid #fa8072;
  color: #e0e0e0 !important;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  background-color: #c8665b;
  border: 1px solid #c8665b;
  color: #666 !important;
}

.btn-navigate {
  background-color: #d3d3d3;
  border: 1px solid #d3d3d3;
  color: #191919 !important;
}

.btn-navigate:hover,
.btn-navigate:focus,
.btn-navigate:active,
.btn-navigate.active,
.open .dropdown-toggle.btn-navigate {
  background-color: #939393;
  border: 1px solid #939393;
  color: #000 !important;
}

/* Lines */

.hr-big {
  border-color: #5b6478;
  border-width: 2px;
}

.hr-small {
  border-color: #5b6478;
  border-width: 1px;
}

/* Notices */

.alert-info {
  text-align: center;
}

.alert-danger {
  text-align: center;
}

/* Top Navigation Bar */

nav {
  background: #fff !important;
  margin-bottom: 0;
}

nav li a {
  color: #000 !important;
  text-transform: uppercase;
}

nav li a:hover {
  color: #ccc !important;
}

.navbar > .container {
  padding: 0;
}

.navbar,
.navbar-default {
  margin-bottom: 0;
}

.navbar-brand {
  color: #5b6478 !important;
  font-size: 1.25em;
  font-weight: 600;
}

#bold {
  font-weight: bold;
}

/* Backgrounds and Font Colors */

.jumbotron {
  background: url("mountains1.jpg");
  background-size: cover;
  color: #000;
  height: 500px;
  text-align: center;
  margin-bottom: 0;
}

.lower-section {
  background-color: #f0f0f0;
  color: #222;
  height: 425px;
}

/* Home */

.lower.section {
  text-align: center;
}

.trial-box {
  background-color: #fff;
  max-width: 350px;
  padding: 10px;
  margin: 25px auto;
  text-align: center;
  border-radius: 10px;
}

#icon-row {
  margin-top: 45px;
}

.icon-box {
  font-size: 1.25em;
  text-align: center;
  margin-top: 10px;
}

/* Users Index */

#users-mountain-pic {
  margin: 10px 0;
}

.user-box {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #e0e0e0;
}

/* Footer */

footer {
  /* For sticky footer */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  padding: 20px 0;
  color: #000;
  background-color: #5b6478;
}

.socia-media-links {
  margin: 20px 0;
}

.btn-social-icon {
  display: inline-block;
  margin: 0 10px;
}

.copyright {
  color: #222;
  margin-top: 40px;
}

/* Misc */

.extra-space {
  height: 100px;
}

/* Media Queries */

@media (max-width: 768px) {
  #users-mountain-pic {
    display: none;
  }

}