<footer>
  <div class="container">
    <div class="row">

      <div class="copyright">
        <p>Coded by Hand.<br>
        &copy; 2016, Christian McTighe.</p>
      </div>

    </div><!-- end of row -->
  </div><!-- end of container-fluid -->

</footer>