<nav class="navbar navbar-default navbar-static-top">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav-bar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to("Mountain Mail", root_path, class: "navbar-brand") %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="top-nav-bar">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to 'My Profile', '/my_profile', class: "scroll-nav" %></li>
          <li><%= link_to 'See Users', users_path %></li>
          <% if unread_messages %>
            <li><%= link_to "Messages (#{unread_messages_count})", mailbox_inbox_path, class: "scroll-nav", id: "bold" %></li>
          <% else %>
            <li><%= link_to "Messages", mailbox_inbox_path, class: "scroll-nav" %></li>
          <% end %>
          <li><%= link_to "Log Out (#{current_user.name})", destroy_user_session_path, method: :delete, class: "scroll-nav" %></li>
        <% else %>
          <li><%= link_to "Sign Up", '/sign_up', class: "scroll-nav" %></li>
          <li><%= link_to "Log In", '/log_in', class: "scroll-nav" %></li>
        <% end %>
      </ul>
    </div><!-- .navbar-collapse -->

  </div><!-- .container -->
</nav>