<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body>

    <%= render 'layouts/nav' %>

    <% flash.each do |key, value| %>
      <div class="text-center <%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>